{% extends 'main/base.html' %}
{% load static %}
{% load humanize %} 
{% block title %}Booking Confirmation{% endblock %}
{% block content %}
<div class="hero-wrap" style="background-image: url({% static 'images/bg_1.jpg' %});">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text d-flex align-itemd-end justify-content-center">
      <div class="col-md-9 ftco-animate text-center d-flex align-items-end justify-content-center">
        <div class="text">
	        <h1 class="mb-4 bread">Booking Confirmation</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="ftco-section bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 sidebar">
	      <div class="sidebar-wrap bg-light ftco-animate">
	      	<h3 class="heading">Your Stay</h3>
          <hr>
	      	<div class="fields">
            <p>Check-In Date</p>
		        <input type="text" id="checkin_date" class="form-control checkin_date mb-2" value={{check_in_date}} placeholder="Check In Date" disabled>
            <p>Check-Out Date</p>
		        <input type="text" id="checkin_date" class="form-control checkout_date mb-2" value={{check_out_date}} placeholder="Check Out Date" disabled>
            <hr>
            {% for room in final_rooms %}
              <p>{{room.room_name}}<span class="ml-2">({{nights.days}} nights)</span></p>
              <hr>
              <div class="total text-center">
                <h3>Total Price</h3>
                <p class="font-weight-bold">Rp. {% widthratio room.room_price 1 nights.days %}</p>
              </div>
            {% endfor %}
          </div>
	      </div>
	    </div>
	    <div class="col-lg-9">
          <h3 class="heading">Guest Details</h3>
          <hr />
          <form method="POST" action="{% url 'booking-complete-page' %}">
            {% csrf_token %}
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="first_name">First Name</label>
                <input type="text" class="form-control" id="first_name" value="{{user.profile.first_name}}" required />
              </div>
              <div class="form-group col-md-6">
                <label for="last_name">Last Name</label>
                <input type="text" class="form-control" id="last_name" value="{{user.profile.last_name}}" />
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="email">Email Address</label>
                <input type="email" class="form-control" id="email" value="{{user.email}}" required />
              </div>
              <div class="form-group col-md-6">
                <label for="phone_no">Telephone</label>
                <input type="phone" class="form-control" id="phone_no" value="{{user.profile.phone_no}}" required />
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="address">Street Address</label>
                <input type="text" class="form-control" id="address" value="{{user.profile.address_proof}}" required />
              </div>
              <div class="form-group col-md-6">
                <label for="id_proof">ID Proof</label>
                <input type="text" class="form-control" id="id_proof" value="{{user.profile.id_proof}}" required />
              </div>
            </div>
            <h3 class="heading mt-5">Booking Details</h3>
            <hr>
            <div class="form-row">
              <p class="font-weight-bold">Check-In</p><span class="ml-auto">{{check_in_date}}</span>
              <input type="text" class="form-control d-none" id="checkIn" value={{check_in_date}} name="checkIn" required />
            </div>
            <div class="form-row">
              <p class="font-weight-bold">Check-Out</p><span class="ml-auto">{{check_out_date}}</span>
              <input type="text" class="form-control d-none" id="checkOut" value={{check_out_date}} name="checkOut" required />
            </div>
            <div class="form-row">
              <p class="font-weight-bold">Nights Total</p><span class="ml-auto">{{nights.days}} nights</span>
            </div>
            
            <table class="table table-striped">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Room</th>
                  <th scope="col">Qty</th>
                  <th scope="col">Cost</th>
                </tr>
              </thead>
              <tbody>
                {% for room in final_rooms %}
                  <tr>
                    <td>
                      <img src="{{room.imageURL}}" alt="{{room.room_name}}" width="100" />
                      <p class="font-weight-bold mt-2">{{room.room_name}}</p>
                      <input type="text" class="form-control d-none" id="room_type" value={{room.room_type}} name="room_type" required />
                    </td>
                    <td>1</td>
                    <td>Rp. {{ room.room_price|intcomma }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
            <hr>
            <div class="form-row">
              {% for room in final_rooms %}
                <p class="font-weight-bold">Grand Total</p><span class="ml-auto">Rp. {% widthratio room.room_price 1 nights.days %}</span>
              {% endfor %}
            </div>
            <hr>
            <p class="text-muted mt-5">
              Your personal data will be used to support your experience throughout this website, to process your reservations, and for other purposes described in our privacy policy.
            </p>
            <div class="form-group mt-2">
              <input type="submit" value="Book Now" class="btn btn-secondary py-3 px-5 btn-block" style="border-radius: 0;">
            </div>
          </form>
		    </div>
		  </div>
  </div>
</section>
{% endblock %}