{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Your Feedback{% endblock %}

{% block content %}
<div class="hero-wrap" style="background-image: url({% static 'images/bg_1.jpg' %});">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text d-flex align-itemd-end justify-content-center">
      <div class="col-md-9 text-center d-flex align-items-end justify-content-center">
        <div class="text">
	        <h1 class="mb-4 bread">Your Feedback</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mt-5 mb-5">
	<div class="row">
		<div class="col-md-3 ">
		  <div class="list-group ">
        <a href="{% url 'profile' %}" class="list-group-item list-group-item-action">Change Profile Data</a>
        <a href="{% url 'change_password' %}" class="list-group-item list-group-item-action">Change Password</a>
        <a href="{% url 'list-booking' %}" class="list-group-item list-group-item-action">Booking</a>
        <a href="{% url 'user-feedback' %}" class="list-group-item list-group-item-action active">Feedback</a>
      </div> 
		</div>
	  <div class="col-md-9">
		  <div class="card">
		    <div class="card-body">
          <div class="alert alert-success" role="alert">
            {{ note }}
          </div>
		      <div class="row">
		        <div class="col-md-12">
              <div class="text-center">
                <h3>Customer Feedback</h3>
                <p>We love to hear from our lovely customer, please provide your honest feedback for us! We surely will improve much better in the future</p>
              </div>
		          <hr>
		        </div>
		      </div>
		      <div class="row">
		        <div class="col-md-12">
		          <form method="POST" >
                {% csrf_token %}
                {{ form|crispy }}
                <div class="form-group row">
                    <button name="submit" type="submit" class="btn btn-primary btn-block mt-4" style="border-radius: 0;">Send Feedback</button>
                </div>
              </form>
		        </div>
          </div>
	      </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block customjs %}
<script>
  function initFreshChat() {
    window.fcWidget.init({
      token: "26224aa7-30c8-4d6f-b922-8f58fb7f2ef2",
      host: "https://wchat.freshchat.com"
    });
  }
  function initialize(i,t){var e;i.getElementById(t)?initFreshChat():((e=i.createElement("script")).id=t,e.async=!0,e.src="https://wchat.freshchat.com/js/widget.js",e.onload=initFreshChat,i.head.appendChild(e))}function initiateCall(){initialize(document,"freshchat-js-sdk")}window.addEventListener?window.addEventListener("load",initiateCall,!1):window.attachEvent("load",initiateCall,!1);
</script>
{% endblock %}